# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
dist/

# next typegen
next-env.d.ts

# production / cache
.turbo/
.vercel/
*.tsbuildinfo
coverage/

# env
.env
.env.*
!.env.example

# misc
.DS_Store
*.pem
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
